/* 전체 페이지 설정 */
/*메인*/
main {
    margin-top: 90px;
    margin-left: 240px;
    padding-bottom: 100px;
    flex-grow: 1;
    overflow-y: auto;
    transition: margin-left 0.3s ease;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    word-break: keep-all;
}

/* 메인 컨텐츠 확장 상태 설정 */
main.full {
    margin-left: 20px;
}

.main-inner {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


.left,
.right {
    width: 48%;
    height: 80%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.left p,
.right p {
    margin: 0;
}

#template-list,
#apprline-list {
    display: flex;
    flex-wrap: wrap;
    /* 요소들이 줄 바꿈되도록 설정 */
}

#template-list div,
#apprline-list div {
    flex: 1 1 40%;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;
    white-space: nowrap;
    /* 글자가 한 줄로 표시되도록 설정 */
    overflow: hidden;
    /* 넘치는 글자를 숨김 */
    text-overflow: ellipsis;
    /* 넘치는 글자를 '...'으로 표시 */
}

/* hover 시 스타일 추가 */
#template-list div:hover,
#apprline-list div:hover {
    background-color: #6eadff;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

/* 헤더 설정 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6eadff;
    color: rgb(18, 15, 81);
    padding: 10px;
    position: fixed;
    width: 99%;
    height: 25px;
    top: 0;
    z-index: 1000;
}

/* 로고 이미지 설정 */
.logo {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

/* 헤더 왼쪽 영역 설정 */
.header-left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* 헤더 오른쪽 아이콘 설정 */
.header-right .icon {
    width: 24px;
    height: auto;
    margin-left: 10px;
    cursor: pointer;
}

/* 사이드바 토글 버튼 설정 */
#toggleSidebar {
    position: fixed;
    top: 50px;
    left: 10px;
    z-index: 1100;
    background-color: #6eadff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* 어사이드 바 설정 */
aside {
    background-color: white;
    padding: 20px;
    width: 200px;
    position: fixed;
    top: 45px;
    /* 헤더 높이 */
    bottom: 0;
    overflow-y: auto;
    transition: transform 0.3s ease;
    border-right: 1px solid rgb(212, 212, 212);
}

/* 어사이드 바 숨김 상태 설정 */
aside.hidden {
    transform: translateX(-220px);
}

/* 프로필 설정 */
.profile {
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

/* 프로필 사진 설정 */
.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

/* 프로필 상세 정보 설정 */
.profile-detail {
    position: fixed;
    left: 220px;
    /* 어사이드 너비 */
    top: 70px;
    /* 헤더 높이 */
    width: 250px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.3s ease;
}

/* 프로필 상세 정보 숨김 상태 설정 */
.profile-detail.hidden {
    display: none;
}

/* 네비게이션 설정 */
nav ul {
    list-style-type: none;
    padding: 0;
}

/* 네비게이션 항목 설정 */
nav ul li {
    margin: 10px 0;
}

/* 네비게이션 링크 설정 */
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* 네비게이션 링크 호버 상태 설정 */
nav ul li a:hover {
    color: #368dff;
}

.sidebar-nav {
    display: grid;
    gap: 10px;
    font-weight: 900;
    margin-top: 20px;
    font-size: 15px;
}

.sidebar-nav>div {
    display: grid;
    align-items: center;
}

.approval-list {
    position: relative;
    left: 15px;
    gap: 5px;
    font-size: 13.5px;
    font-weight: 600;
}

.link>div {
    position: relative;
    left: 15px;
    font-size: 13.5px;
    font-weight: 600;
    margin-bottom: 6px;
    width: max-content;
}

.toggle:hover,
.link>div:hover,
.title-toggle:hover {
    cursor: pointer;
    color: #368dff;
}


#profileDetail {
    padding: 25px;
}

#profileDetail>div {
    margin-bottom: 13px;
    font-size: 17px;
}

#change-password {
    cursor: pointer;
}

#change-password:hover {
    color: #368dff;
}

#profileDetail button {
    background-color: #6eadff;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 900;
    cursor: pointer;
    border-radius: 10px;
}

#profileDetail button:hover {
    background-color: #368dff;
}