/*메인*/
main {
  margin-top: 90px;
  margin-left: 240px;
  padding-bottom: 100px;
  flex-grow: 1;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  word-break: keep-all;
}

/* 메인 컨텐츠 확장 상태 설정 */
main.full {
  margin-left: 20px;
}


/* 문서 내용 */
.document-content {
    margin: 2px;
    margin-bottom: 0;
    padding-bottom: 7px;
}

/* 문서 헤더 */
.document-header {
    border: 0;
    width: 100%;
    margin-top: 1px;
    border-collapse: collapse;
}

.form-title {
    background: white;
    padding: 0;
    border: 0;
    height: 100px;
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: bold;
    vertical-align: middle;
}

/* 결재자 섹션 */
.approval-section {
    vertical-align: top;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 10px;
    text-align: center;
}

.approval-cell {
    border: 1px solid black;
    padding: 10px;
    width: 100px;
}

.apprClassification{
    font-weight: bold; /* 글씨 두껍게 */
    font-size: 20px;   /* 글자 크기 조절 */
    border-bottom: 1px solid black;
}

.approval-header {
    background-color: #f4f4f4;
}

.status, .stage{
    font-weight: bold; /* 글씨 두껍게 */
}
.stage_2{
    color:#274ca3;
}

.stage img{
 width:80%
}

/* 사용자 정보 */
.user-info-row {
    display: flex;
    border: 1px solid black;
}

.user-info-header {
    background: #d4e9ff;
    padding: 5px;
    border: 1px solid black;
    height: 18px;
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    flex: 1;
}

.user-info-data {
    background: white;
    padding: 5px;
    border: 1px solid black;
    text-align: left;
    color: black;
    font-size: 16px;
    font-weight: normal;
    flex: 1;
}

/* 문서 본문 */
.document-body {
    border: 0;
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

.document-body-row {
    display: flex;
    border: 1px solid black;
}

.document-body-header {
    background: #d4e9ff;
    padding: 5px;
    border: 1px solid black;
    height: 25px;
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
    flex: 1;
}

.document-body-data {
    background: white;
    padding: 5px;
    border: 1px solid black;
    text-align: left;
    color: black;
    font-size: 16px;
    font-weight: normal;
    flex: 1;
}

/* 코멘트 텍스트 에리어 */
.comment{
    width: 900px;
    height: 150px;
    resize: none;
}

/* 승인, 반려 버튼 */
.radio-input {
  display: none;
}

.radio-label {
  position: relative;
  color: #4189e0;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.8em;
  border: 3px solid #4189e0;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  margin: 0.5em; /* Add margin to separate the labels */
}

.radio-label:before {
  content: "";
  height: 1em;
  width: 1em;
  border: 3px solid #4189e0;
  border-radius: 50%;
}

.radio-input:checked + .radio-label:before {
  height: 0.5em;
  width: 0.5em;
  border: 0.4em solid #ffffff;
  background-color: #4189e0;
}

.radio-input:checked + .radio-label {
  background-color: #4189e0;
  color: #ffffff;
}



/* 버튼 컨테이너 */
.button-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

/* 결재 버튼 */
.approval-btn {
    background-color: #6eadff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.approval-btn:hover {
    background-color: #368dff;
}

.edit-btn, .delete-btn{
    width: 25px;
    cursor:pointer;
}
