/*메인*/
main {
  margin-top: 90px;
  margin-left: 240px;
  padding-bottom: 100px;
  flex-grow: 1;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
  padding-left: 200px;
  padding-right: 200px;
  word-break: keep-all;
}

/* 메인 컨텐츠 확장 상태 설정 */
main.full {
  margin-left: 20px;
}


/* 검색창 */
.search_box {
  position: relative;
  width: 350px;
  display: flex;
  align-items: center;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 20px;
}

.search_select {
  border: none;
  background: none;
  font-size: 14px;
  margin-right: 10px;
  outline: none;
}

.search_text {
  flex: 1;
  border: none;
  font-size: 14px;
  outline: none;
}

.search_img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.document {
  display: flex;
  flex-direction: column;
}

.status_box {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  background-color: #f6f6f6;
  cursor: pointer;
}

.profile-pic-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.status_details {
  flex: 1;
}

.status_steps {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.status_step {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ffffff;
  padding: 10px;
  border-radius: 8px;
  width: 130px;
  height: 145px;
  text-align: center;
  background-color: #d4e9ff;
}
.status_step p {
  margin: 0;
  padding-top:10px;
  padding-bottom:10px;
}