/*메인*/
main {
  margin-left: 240px;
  padding-bottom: 100px;
  flex-grow: 1;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 30px;
  word-break: keep-all;
}

/* 메인 컨텐츠 확장 상태 설정 */
main.full {
  margin-left: 20px;
}

.content-title{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

/* 검색창 */
.search_box {
  position: relative;
  width: 350px;
  height:30px;
  display: flex;
  align-items: center;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 5px;
}

.search_select {
  border: none;
  background: none;
  font-size: 14px;
  margin-right: 10px;
  outline: none;
}

.search_text {
  flex: 1;
  border: none;
  font-size: 14px;
  outline: none;
}

.search_img {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 10px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.document {
  display: flex;
  flex-direction: column;
}


/* 문서없으면 */
.no-document{
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  color: #777;
  font-size: 16px;
  margin-top: 10px;
}

/* 문서있으면 */
.status_box {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  background-color: #f6f6f6;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  min-width: 700px;

  &:hover {
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
      transform: translateY(-3px);
  }
}

.document p {
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
}

.document_info{
  display: flex;
  justify-content: space-between;
}

.document_info_inner{
  display: flex;
}

.urgent_yn {
    width: 20px;
    height: 20px;
}
.profile-pic-small {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.status_details {
  flex: 1;
}

.status_steps {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}

.status_step {
  border: 2px solid #ffffff;
  padding: 10px;
  border-radius: 8px;
  width: 130px;
  height: 137px;
  text-align: center;
  background-color: #d4e9ff;
  align-content: space-evenly;
}

.status_step div {
  margin: 0;
  padding-top:6px;
  padding-bottom:6px;
}

.stageName, .statusName, .docTitle{
   font-weight: bold; /* 글씨 두껍게 */
   font-size: 20px;   /* 글자 크기 조절 */
}

.approverName, .writerName{
    font-weight: bold; /* 글씨 두껍게 */
    font-size: 16px;   /* 글자 크기 조절 */
}


.rightChevronIcon{
    width:20px;
    height:25px;
}


/* 조건  기안올린 문서 */
.status_box_2 {
    border: 3px solid #819DDB;
}
.status_box_2 .appr_2, .status_box_2 .writer_2{
        border: 2px solid #819DDB;
}

.status_box_2 .appr_2 .stageName, .status_box_2 .writer_2 .statusName{
        color: #093294;
}
.status_box_2 .appr_3 {
        border: 2px solid red;
}






