/*메인*/
main {
  margin-left: 220px;
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
  padding-left: 150px;
  padding-right: 150px;
}

/* 컨텐츠 헤더 설정 */
.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

/* 대시보드 설정 */
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dashboard-row {
  display: flex;
  gap: 20px;
}

.dashboard-col-lg {
  flex: 2;
}

.dashboard-col-sm {
  flex: 1;
}

/* 메인 컨텐츠 박스 설정 */

.work-status, .main-div{
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  height: 250px;
}

.work-status-inner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
}

/* 섹션 헤더 설정 */
.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6eadffba;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
}
.section-header h3 {
  margin: 0;
}

.section-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}

/* 작업 시간 설정 */
.work-time {
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
}

/* 시간 표시 설정 */
.time-display {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  text-align: center;
  margin-top: 5px;
}

.time-icon{
  font-size: 20px;
}

.time{
  font-size: 30px;
  font-weight: bold;
  margin: 5px;
}

.clock {
  color: #808080;
  font-size: 50px;
  margin: 35px;
  text-align: center;
  font-weight: 300;
}

/* 시스템 링크 설정 */
.system-link {
  background-color: #e7f3ff;
  padding: 15px;
  border-radius: 5px;
}

/* -------------결재문서------------ */

.no-documents{
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  color: #777;
  font-size: 16px;
  margin-top: 10px;
}

.document{
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 13px;
    margin-top: 5px;
}


/* -----------------캘린더---------------- */
/* 캘린더 전체 컨테이너에 쉐도우 추가 */
.calendar-sell{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#calendar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 5px;  /* 패딩 축소 */
  background-color: #fff;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  font-size: 12px;  /* 전체 폰트 사이즈 축소 */
  width: 200px;
}

/* 캘린더 헤더 스타일 */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;  /* 마진 축소 */
}

.calendar-header button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 4px;  /* 버튼 크기 축소 */
  cursor: pointer;
  font-size: 9px;  /* 버튼 폰트 사이즈 축소 */
}

.calendar-header button:hover {
  background-color: #0056b3;
}

.calendar-header div {
  font-size: 1em;  /* 타이틀 폰트 사이즈 축소 */
  font-weight: bold;
}

/* 날짜 셀에 쉐도우 추가 */
.date {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1px;
  padding: 3px;  /* 날짜 셀 패딩 축소 */
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;  /* 날짜 셀의 높이 축소 */
  width: 18px;   /* 날짜 셀의 너비 축소 */
}
.date:hover{
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.309);
}
/* 캘린더 그리드 스타일 */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;  /* 셀 간의 간격 축소 */
}

/* 주 이름 스타일 */
.day {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2px;  /* 마진 축소 */
  font-size: 8px;  /* 요일 폰트 사이즈 축소 */
}

/* 오늘 날짜 스타일 */
.today {
  background-color: #f0f8ff;
  font-weight: bold;
}

/* 일요일 스타일 */
.sunday {
  color: red;
}

/* 토요일 스타일 */
.saturday {
  color: blue;
}

/* 이전 및 이후 달의 날짜 스타일 */
.other-month {
  color: #aaa;
}

/* 일요일 색상 스타일 */
.redColor {
  color: red;
}

/* 토요일 색상 스타일 */
.blueColor {
  color: blue;
}

.work-time p {
    font-size: 20px;
    color: #808080;
}

.time-icon:hover {
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}


