/*메인*/
main {
  margin-top: 100px;
  margin-left: 220px;
  flex-grow: 1;
  overflow-y: auto;
  transition: margin-left 0.3s ease;
  padding-left: 150px;
  padding-right: 150px;
}

/* 메인 컨텐츠 확장 상태 설정 */
main.full {
  margin-left: 20px;
}


.approval-lines-btn img{
  width: 18px;
}