/* 전체 페이지 설정 */
body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* ------------------------------------------------------------------------- */
/* 헤더*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6eadff;
    color: rgb(18, 15, 81);
    padding: 10px;
    position: fixed;
    width: 99%;
    height: 25px;
    top: 0;
    z-index: 1000;
}

.header-right {
    width: 185px;
}

.logo {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

.header-left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.header-right .icon {
    width: 24px;
    height: auto;
    margin-left: 10px;
    cursor: pointer;
}

/* ------------------------------------------------------------------------- */
/* 사이드바 토글 버튼 설정 */
#toggleSidebar {
    position: fixed;
    top: 50px;
    left: 10px;
    z-index: 1100;
    background-color: #6eadff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* ------------------------------------------------------------------------- */
/* 어사이드 바 설정 */
aside {
    background-color: #f4f4f4;
    padding: 20px;
    width: 200px;
    position: fixed;
    top: 45px;
    /* 헤더 높이 */
    bottom: 0;
    overflow-y: auto;
    transition: transform 0.3s ease;
}

/* 어사이드 바 숨김 상태 설정 */
aside.hidden {
    transform: translateX(-220px);
}

/* ------------------------------------------------------------------------- */
/* 메인 컨텐츠 설정 */
main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* 헤더 높이 */
    margin-left: 243px;
    /* 어사이드 너비 */
    padding: 20px;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
}

/* 메인 컨텐츠 확장 상태 설정 */
main.full {
    margin-left: 20px;
}

/* ------------------------------------------------------------------------- */
/* 프로필 설정 */
.profile {
    text-align: center;
    cursor: pointer;
}

/* 프로필 사진 설정 */
.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

/* 프로필 상세 정보 설정 */
.profile-detail {
    position: fixed;
    left: 220px;
    /* 어사이드 너비 */
    top: 70px;
    /* 헤더 높이 */
    width: 250px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.3s ease;
}

/* 프로필 상세 정보 숨김 상태 설정 */
.profile-detail.hidden {
    display: none;
}

/* ------------------------------------------------------------------------- */
/* 네비게이션 설정 */
nav ul {
    list-style-type: none;
    padding: 0;
}

/* 네비게이션 항목 설정 */
nav ul li {
    margin: 10px 0;
}

/* 네비게이션 링크 설정 */
nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* 네비게이션 링크 호버 상태 설정 */
nav ul li a:hover {
    color: #368dff;
}

#profileDetail {
    padding: 25px;
}

#profileDetail>div {
    margin-bottom: 13px;
    font-size: 17px;
}

#change-password {
    cursor: pointer;
}

#change-password:hover {
    color: #368dff;
}

#profileDetail button {
    background-color: #6eadff;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 900;
    cursor: pointer;
    border-radius: 10px;
}

#profileDetail button:hover {
    background-color: #368dff;
}

/* ------------------------------------------------------------------------- */
/* 사이드바 */
/*셀렉트*/
.selectContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 0px;
}

.selectContainer select {
    font-size: 11px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f4f4f4;
    color: #333;
    width: 75px;
}

/* 선택된 옵션 스타일링 */
.selectContainer select option:checked {
    background-color: #e0e0e0;
}

/* ------------------------------------------------------------------------- */
/* 캘린더 링크 */
.calendar-link {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.calendar-link>a {
    text-decoration: none;
    padding: 8px;
    width: 80%;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6eadff;
    border-radius: 3px;
    color: white;
    font-weight: 900;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(92, 91, 91, 0.24);
    margin-top: 20px;
}

.calendar-link>a:hover {
    cursor: pointer;
    background-color: #368dff;
}

/*사이드 캘린더*/

#sidebarCalendarContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#sidebarCalendar {
    width: 90%;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.24);
    /* 박스 섀도우 추가 */
    padding: 13px;
    padding-top: 5px;
    margin-top: 10px;
    border-radius: 15px;
}

.side-date {
    font-weight: bold;
    text-align: center;
    border: 1px solid rgba(79, 78, 78, 0.521);
    box-sizing: border-box;
    font-size: 13px;
}

.side-date:hover {
    cursor: pointer;
}

.side-calendar-header {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    place-items: center center;
    width: 90%;
    padding: 5px;
    gap: 0px;
    font-size: 13px;
    font-weight: 900;
}

.side-calendar-header button {
    background-color: #f4f4f4;
    border: none;
    border-radius: 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

.side-calendar-header button:hover {
    color: #060606;
}

.calendar-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-collapse: collapse;
    border: 1px solid rgba(79, 78, 78, 0.521);
}

.date {
    display: grid;
    grid-template-rows: 0.5fr 3fr;
    padding: 2px;
}

.calendar-grid .day,
.calendar-grid .date {
    font-weight: bold;
    text-align: center;
    border: 1px solid rgba(79, 78, 78, 0.521);
    box-sizing: border-box;
    font-size: 13px;
}

.calendar-grid .date:hover {
    cursor: pointer;
    border: 1px solid #070707;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
}

.calendar-grid .date .number {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 4px;
    margin-left: 4px;
    height: 20px;
    width: 20px;
}

.calendar-grid .sunday .number {
    color: red;
}

.calendar-grid .saturday .number {
    color: rgb(60, 0, 255);
}

.calendar-grid .date.today .number {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #2672e8;
    font-weight: 900;
}

.redColor {
    color: red;
}

.blueColor {
    color: blue;
}

/* today-text표시 */
.today-text {
    font-size: 10px;
}

.side-today {
    color: #2672e8;
}

/*-------------------------------------------------- 검색화면 ---------------------------------*/
.pageFooter {
    text-align: center;
    margin: 15px 0;
}

.pageFooter a {
    display: inline-block;
    margin: 0 3px;
    padding: 3px 10px;
    color: black;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    line-height: 1.5;
    /* 높이 동일하게 */
}

.pageFooter a:hover {
    background-color: #f1f1f1;
    color: #0056b3;
}

.pageFooter a.current-page {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    font-weight: bold;
}

.pageFooter a.disabled {
    pointer-events: none;
    color: #aaa;
    border-color: #ddd;
}

.container h2 {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 7px;
}

.container {
    width: 1100px;
    height: 570px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 25px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-bottom: 25px;
    margin-top: 29px;
    margin-bottom: 9px;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table th {
    height: 11px;
}

.custom-table th,
.custom-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 12.5px;
}

.custom-table tr:hover {
    background-color: #007bff;
    color: white;
}

.custom-table thead tr:first-child {
    pointer-events: none;
}

/* 각 열에 대한 고정 너비 지정 */
.custom-table th:nth-child(1),
.custom-table td:nth-child(1) {
    width: 180px;
    /* 제목의 너비 */
}

.custom-table th:nth-child(2),
.custom-table td:nth-child(2) {
    width: 250px;
    /* 내용의 너비 */
}

.custom-table th:nth-child(3),
.custom-table td:nth-child(3) {
    width: 60px;
    /* 작성자의 너비 */
}

.custom-table th:nth-child(4),
.custom-table td:nth-child(4) {
    width: 100px;
    /* 시작일의 너비 */
}

.custom-table th:nth-child(5),
.custom-table td:nth-child(5) {
    width: 100px;
    /* 종료일의 너비 */
}

.custom-table th:nth-child(6),
.custom-table td:nth-child(6) {
    width: 100px;
    /* 등록일의 너비 */
}

.custom-table th {
    background-color: #f2f2f2;
    cursor: pointer;
}

.search-container {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 15px;
}

.search-text {
    width: 130px;
    height: 7px;
    padding: 10px 40px 10px 10px;
    /* 오른쪽 패딩을 충분히 주어 아이콘 공간 확보 */
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.search-text:focus {
    border-color: #66afe9;
    box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
    outline: none;
}

.search-icon {
    position: relative;
    top: 10px;
    right: 25px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #aaa;
    pointer-events: none;
    /* 아이콘이 클릭되지 않도록 설정 */
}

.keyword {
    color: #007bff;
    font-weight: 600;
}

.notFoundText {
    display: flex;
    justify-content: center;
    font-size: 17px;
}

.check-list {
    font-size: 14px;
    color: #666666;
    line-height: 1.5;
    margin: 12px 0;
}